@import './reset.css';
@import './nprogress.css';
@import './transition.css';

html,
body,
#app {
  height: 100%;
  -ms-text-autospace: normal;
}

html {
  overflow-x: hidden;
  color: rgb(var(--base-text-color));
}

/* 修复部分缩放下input无法展示_字符 */
.n-input__input-el {
  height: max-content !important;
}
